@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/SourceSansPro-Bold.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Source Sans Pro, system-ui, sans-serif;
  }
}
